aws_access_key = "YOUR_ACCESS_KEY"
aws_secret_key = "YOUR_SECRET_KEY"
ami_id               = "ami-0c1638aa346a43fe8"
instance_type        = "t3a.nano"
instance_count       = 3
instance_name_prefix = "TestVM1509"
key_name             = "my-key"
public_key_path      = "C:/Users/446435760/.ssh/id_ed25519.pub"